.container {
	padding: 5px 8px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 1rem;
	line-height: 20px;
	height: 20px;
	font-size: 0.7rem;
	text-align: right;
	background-color: aliceblue;
}

input[type="text"] {
	width: 100%;
}

.mb {
	margin-bottom: 14px;
}
