<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>dingtalk webhook</title>
	<link rel="stylesheet" href="index.css">
</head>

<body>
	<div class="container" id="root">
		<div class="mb">
			<input type="text" placeholder="Input url" v-model="url">
		</div>

		<select class="mb" v-model="way">
			<option value="text">Text</option>
			<option value="link">Link</option>
			<option value="markdown">Markdown</option>
			<option value="manyActionCard">ActionCard(整体)</option>
			<option value="signleActionCard">ActionCard(独立)</option>
			<option value="feedCard">FeedCard</option>
		</select>
		<a v-bind:href="dingDoc" v-on:click.stop.prevent="jumpBrowser">参考文档</a>

		<div class="mb" id="container" style="min-height: 400px;"></div>

		<div class="mb">
			<input type="checkbox" v-model="isAtAll">Is @all ?
		</div>

		<button v-on:click="send">send</button>

		<footer>More: https://github.com/gozeon</footer>
	</div>
</body>

<script>
	const tplData = require("./template.json")
</script>
<script src="static/vue.js"></script>
<script>
		(function () {
			const path = require('path');
			const amdLoader = require('./node_modules/monaco-editor/min/vs/loader.js');
			const amdRequire = amdLoader.require;
			const amdDefine = amdLoader.require.define;

			function uriFromPath(_path) {
				var pathName = path.resolve(_path).replace(/\\/g, '/');
				if (pathName.length > 0 && pathName.charAt(0) !== '/') {
					pathName = '/' + pathName;
				}
				return encodeURI('file://' + pathName);
			}

			amdRequire.config({
				baseUrl: uriFromPath(path.join(__dirname, './node_modules/monaco-editor/min'))
			});

			// workaround monaco-css not understanding the environment
			self.module = undefined;

			amdRequire(['vs/editor/editor.main'], function () {
				window.monaco = monaco
				window.editor = monaco.editor.create(document.getElementById('container'), {
					value: JSON.stringify(tplData['text'], null, 2),
					language: 'json'
				});
			});
		})();
</script>
<script>
	new Vue({
		el: '#root',
		data: {
			dingDoc: 'https://ding-doc.dingtalk.com/doc#/serverapi2/qf2nxq',
			way: 'text',
			url: '',
			isAtAll: false,
			preData: ''
		},
		watch: {
			way: function (val, oldVal) {
				if (val === 'text') {
					editor.setValue(JSON.stringify(tplData['text'], null, 2))
					monaco.editor.setModelLanguage(monaco.editor.getModels()[0], 'json')
				}
				if (val === 'link') {
					editor.setValue(JSON.stringify(tplData['link'], null, 2))
					monaco.editor.setModelLanguage(monaco.editor.getModels()[0], 'json')
				}
				if (val === 'manyActionCard') {
					editor.setValue(JSON.stringify(tplData['manyActionCard'], null, 2))
					monaco.editor.setModelLanguage(monaco.editor.getModels()[0], 'json')
				}
				if (val === 'signleActionCard') {
					editor.setValue(JSON.stringify(tplData['signleActionCard'], null, 2))
					monaco.editor.setModelLanguage(monaco.editor.getModels()[0], 'json')
				}
				if (val === 'feedCard') {
					editor.setValue(JSON.stringify(tplData['feedCard'], null, 2))
					monaco.editor.setModelLanguage(monaco.editor.getModels()[0], 'json')
				}

				if (val === 'markdown') {
					editor.setValue(tplData['editor']['markdown'])
					monaco.editor.setModelLanguage(monaco.editor.getModels()[0], 'markdown')
				}
			}
		},
		methods: {
			jumpBrowser: function () {
				require('electron').shell.openExternal(this.dingDoc)
			},
			send: function () {
				if (!this.url) {
					alert('Url Is Null!')
					return
				}
				let data = editor.getValue()
				if (this.way === 'markdown') {
					data = {
						"msgtype": "markdown",
						"markdown": {
							title: '😊',
							text: data
						},
						"at": {
							"isAtAll": this.isAtAll
						}
					}
				} else {
					data = Object.assign({}, JSON.parse(data), { at: { isAtAll: this.isAtAll } })
				}

				const body = JSON.stringify(data)
				const targetData = this.url + body

				if (this.preData === targetData) {
					if (!confirm("再发一次？")) {
						return
					}
				}

				fetch(this.url, {
					method: "POST",
					headers: {
						'Accept': 'application/json',
						'Content-Type': 'application/json'
					},
					body: body
				}).then(response => {
					if (!response.ok) {
						throw new Error(response.statusText)
					}
					return response.json()
				}).then(response => {
					if (response['errcode'] !== 0) {
						alert(response['errmsg'])
					} else {
						this.preData = targetData
						alert('send success')
					}
				}).catch(err => {
					alert(err.message)
				})
			}
		}
	})
</script>

</html>
